<!DOCTYPE html>
<html>

<head><link rel="stylesheet"  href="/style.css"></head></head>
 
 
 

 
 <body id= "main">
     
<header class= "img">

    <title>Ambrosia Board </title>
    <h1 class="h1"> Ambrosia Board </h1> 
    <nav class="nav1">
        <ul class="navul">
            <li class="nav li"><a class="nav a"href="#"> Login</a> </li>
            <li class="nav li"><a class="nav a" href="#"> Sign up</a> </li>
            <li class="nav li"><a class="nav a" href="#"> Contact</a> </li>
            <li class="nav li"><a class="nav a" href="Login and Register/Pag2.html" > About us</a> </li>
            <li class="nav li"><a class="nav a" href="Login and Register/Pag3.html" >  Support</a> </li>
     
      </ul>
    </nav>
</header>
<br/><br/><br/>
<main>

<section >

    
<p class= "sectionp"> Event</p>
<main class="flex">
 <img class="img2" src="https://res.cloudinary.com/fleetnation/image/private/c_fit,w_1120/g_south,l_text:style_gothic2:%C2%A9%20Rbento,o_20,y_10/g_center,l_watermark4,o_25,y_50/v1430607681/tbdjnles8ytviiewqtcx.jpg" alt="imagem2">



    <p>                 Located in the heart of the fertile Tras-dos-Montes countryside,and whose field agriculture over the centures.
                        Located in the heart of the fertile Tras-dos-Montes countryside,and whose field agriculture over the centures.
                        Located in the heart of the fertile Tras-dos-Montes countryside,and whose field agriculture over the centures.
                        Located in the heart of the fertile Tras-dos-Montes countryside,and whose field agriculture over the centures.
                        Located in the heart of the fertile Tras-dos-Montes countryside,and whose field agriculture over the centures.
                        Located in the heart of the fertile Tras-dos-Montes countryside,and whose field agriculture over the centures.
                        Located in the heart of the fertile Tras-dos-Montes countryside,and whose field agriculture over the centures.</p>
</main>

</section>

<section class="dishesNavSection"> <!-- Products Nav Bar-->
    <nav>
        <ul>
            <li><button onclick="dishesToggle(this);" id ="entradas">Entradas</button> </li>
            <li><button onclick="dishesToggle(this);" id="pratos">Pratos</button></li>
            <li><button onclick="dishesToggle(this);"id="sobremesas">Sobremesas</button></li>
            <li><button onclick="dishesToggle(this);" id="bebidas">Bebidas</button></li>
            <li><button onclick="dishesToggle(this);" id="carrinho">Carrinho</button></li>
     
      </ul>
    </nav>
    <script>
        function dishesToggle(elem) {
            var starter = document.getElementById("Starters");
            var mid = document.getElementById("Mid");
            var dessert = document.getElementById("Dessert");
            var drink = document.getElementById("Drinks");
            var basket = document.getElementById("Basket");

            /*starter.style.display= "block";
            mid.style.display = "none";
            dessert.style.display = "none";
            drink.style.display = "none";
            basket.style.display = "none";*/


            if (elem.id=="entradas"){
                starter.style.display = "block";
                mid.style.display="none";
                dessert.style.display="none";
                drink.style.display="none";
                basket.style.display="none";

            }else if(elem.id=="pratos"){
                starter.style.display = "none";
                mid.style.display="block";
                dessert.style.display="none";
                drink.style.display="none";
                basket.style.display="none";
                
            }else if(elem.id=="sobremesas")
                start.style.display = "none";
                mid.style.display="none";
                dessert.style.display="block";
                drink.style.display="none";
                basket.style.display="none"

            }else if(elem.id=="bebidas"){
                start.style.display = "none";
                mid.style.display="none";
                dessert.style.display="none";
                drink.style.display="block";
                basket.style.display="none"

            }else if(elem.id=="carrinho"){
                start.style.display = "none";
                mid.style.display="none";
                dessert.style.display="none";
                drink.style.display="none";
                basket.style.display="block";
            } else{
                starter.style.display = "block";
                mid.style.display="none";
                dessert.style.display="none";
                drink.style.display="none";
                basket.style.display="none";
            } /*
            if (elem.id=="pratos"){
                mid.style.display = "block";
            } else{
                mid.style.display = "none";
            }}
            if (elem.id=="sobremesas"){
                dessert.style.display = "block";
            } else{
                dessert.style.display = "none";
            }}
            if (elem.id=="bebidas"){
                drink.style.display = "block";
            } else{
                drink.style.display = "none";
            }}
            if (elem.id=="carrinho"){
                basket.style.display = "block";
            } else{
                basket.style.display = "none";
            }}
            */
</script>
</section>


<section class="dishesSection">   
       <!-- Produtos-->

<section id="Starters" class="dishesSection">
<div>
    <h3>IMAGEM1</h3>
<h4>Entrada1</h4>
<button type="button"> Adicionar </button>
</div>
<div>
    <h3>IMAGEM2</h3>
<h4>Entrada2</h4>
<button type="button"> Adicionar </button>
</div>
<div>
    <h3>IMAGEM3</h3>
<h4>Entrada3</h4>
<button type="button"> Adicionar </button>
</div>
<div>
    <h3>IMAGEM4</h3>
<h4>Entrada4</h4>
<button type="button"> Adicionar </button>
</div>

</section>

<section id="Mid" class="dishesSection">
<div>
    <h3>IMAGEM1</h3>
<h4>Prato1</h4>
<button type="button"> Adicionar </button>
</div>
<div>
    <h3>IMAGEM2</h3>
<h4>Prato2</h4>
<button type="button"> Adicionar </button>
</div>
<div>
    <h3>IMAGEM3</h3>
<h4>Prato3</h4>
<button type="button"> Adicionar </button>
</div>
<div>
    <h3>IMAGEM4</h3>
<h4>Prato4</h4>
<button type="button"> Adicionar </button>
</div>

</section>
<section id="Dessert" class="dishesSection">
<div>
    <h3>IMAGEM1</h3>
<h4>Sobremesa1</h4>
<button type="button"> Adicionar </button>
</div>
<div>
    <h3>IMAGEM2</h3>
<h4>sobremesa2</h4>
<button type="button"> Adicionar </button>
</div>
<div>
    <h3>IMAGEM3</h3>
<h4>Sobremesa3</h4>
<button type="button"> Adicionar </button>
</div>
<div>
    <h3>IMAGEM4</h3>
<h4>sobremesa4</h4>
<button type="button"> Adicionar </button>
</div>

</section>
<section id="Drinks" class="dishesSection">
<div>
    <h3>IMAGEM1</h3>
<h4>Bebida1</h4>
<button type="button"> Adicionar </button>
</div>
<div>
    <h3>IMAGEM2</h3>
<h4>Bebida2</h4>
<button type="button"> Adicionar </button>
</div>
<div>
    <h3>IMAGEM3</h3>
<h4>Bebida3</h4>
<button type="button"> Adicionar </button>
</div>
<div>
    <h3>IMAGEM4</h3>
<h4>Bebida4</h4>
<button type="button"> Adicionar </button>
</div>

</section>
<section id="Basket" class="dishesSection">
<div>
    <h3>FUTURO CARRINHO</h3>

</div>

                   
</section>
</main>
</body>

</html>