<!DOCTYPE html>
<html>

<head><link rel="stylesheet"  href="Style.css"></head>
 
 
 

 
 <body>
     
<header class= "img">

    <title>Ambrosia Board </title>
    <h1 class="h1"> Ambrosia Board </h1> 

</header>
<nav>
    <ul>
        <li><a href="#"> Home</a> </li>
        <li><a href="#"> About us</a> </li>
        <li><a href="#"> Contact</a> </li>
        <li><a href="Login and Register/Pag2.html" > Login</a> </li>
        <li><a href="Login and Register/Pag3.html" >  Sign up</a> </li>
 
  </ul>
</nav>
<main>
<h2><big> Gastronomic events:</big></h2>
<section>

    <p> Name of the organizaion:</p>

  

</section>
</main>
<footer>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<hr/><hr/>
    <a href="https://github.com/icantplay/Ambrosia-Board" target="_blank"><p>Our Project</p> </a>
    <h2>Comments:</h2>
    <textarea>Coloca um comentário </textarea>


</footer>
 </body>

</html>