<!DOCTYPE html>
<html>

<head><link rel="stylesheet"  href="/style.css"></head></head>
 
 
 

 
 <body id= "main">
     
<header class= "img">

    <title>Ambrosia Board </title>
    <h1 class="h1"> Ambrosia Board </h1> 
    <nav>
        <ul>
            <li><a href="#"> Login</a> </li>
            <li><a href="#"> Sign up</a> </li>
            <li><a href="#"> Contact</a> </li>
            <li><a href="Login and Register/Pag2.html" > About us</a> </li>
            <li><a href="Login and Register/Pag3.html" >  Support</a> </li>
     
      </ul>
    </nav>
</header>
<br/><br/><br/>
<main>

<section>

    
<p class= "sectionp"> Event</p>
  

</section>
</main>
<footer>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

    <a href="https://github.com/icantplay/Ambrosia-Board" target="_blank"><p>Our Project</p> </a>
    <h2>Comments:</h2>
    <textarea>Coloca um comentário </textarea>


</footer>
 </body>

</html>