<html>

<style>
 p{color:rgb(224, 132, 11);}
.container {
    display grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto auto auto auto;
   
    grid-template-areas:
    "header header nav nav"
    "main main main main"
    "footer footer footer footer"
}
 header{
    display: flex;
    align-items:center;
    justify-content : center;
    

}
nav ul{
    align-items: right;
    display: flex;
    padding: 0;
}
h1{color:rgb(224, 132, 11);}
h2{color: rgb(224, 132, 11);}
body{color: }
</style>

 <body style="background-color:#e9e6ba;">
 <img width= "1920" height= "1080" src="http://haloespresso.com.au/working/wp-content/uploads/ShortpixelBackups/revslider/slider-home-2/hero_slide_3.jpg" alt="Image wallpaper" />
<header>
    <title>Ambrosia Board </title>
    <h1> Ambrosia Board </h1> 
<nav>
    <ul>

        <li> <a href="Login and Register/Pag2.html" > <p> Login </p> </a> </li>

        <li> <a href="Login and Register/Pag3.html" > <p> Sign up </p> </a> </li>
 
  </ul>
</nav>
</header>
<hr/><hr/>

<main>
<h2><big> Gastronomic events:</big></h2>
<section>

    <p> Name of the organizaion:</p>

    <p> About us </p>

</section>
</main>
<footer>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<hr/><hr/>
    <a href="https://github.com/icantplay/Ambrosia-Board" target="_blank"><p>Our Project</p> </a>
    <h1>Comments:</h1>
    <textarea>Coloca um comentário </textarea>


</footer>
 </body>

</html>