body {
    display: flex;
    margin-top: 500px;
    padding-top: 850px;
    background-image: url("https://scontent.flis6-1.fna.fbcdn.net/v/t1.0-9/1975216_524764424300332_360231515_n.jpg?_nc_cat=102&_nc_ohc=OlLrgm5E3ckAQmf3jHvZ7hH8qZoFWq2qsP_-YRRhMN3h5FXjs9NDCUXWQ&_nc_ht=scontent.flis6-1.fna&oh=df8c77e7b95ed1180725e33552faa0ce&oe=5E74FBD7");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
}

.login-box {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
}

.login-title {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginboxp {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: white;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.pw-input {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: white;
    height: 40px;
    font-size: 16px;
}

.login-box button[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
}

.login-box button[type="button"]:hover {
    cursor: pointer;
    background: white;
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    color: darkgray;
}


/*=================
Chose Event Page
=================*/

.imagevent {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
}